:root{
    --roxo: #4B4FA1;
    --laranja-logo: #FE4400;
    --laranja: #FC6027;
    --cinza-escuro: #303033;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cabin', sans-serif;
}

font-cabin {
    font-family: 'Cabin', sans-serif;
}




#carroselImagens img{
    filter: contrast(115%);
    height: 100vh;
}

/*gradiente por cima da imagem*/

.gradient-overlay{
    position: relative;
    display: inline-block;
}

.gradient-overlay:after{
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: linear-gradient(0deg, rgba(0,0,0,0.8130602582830007) 26%, rgba(255,55,0,0.13799023027179624) 58%);
}

/*responsividade a partir de 769px*/

@media only screen and (max-width: 768px) {
    #carroselImagens img {
      height: fit-content;
    }
  }

.jumbotron-1{
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--laranja);
    border-radius: .1rem;
    margin-bottom: -1px;
}

.jumbotron-2{
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    color: var(--cinza-escuro);
    background-color: white;
    border-radius: .1rem;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(149,149,149,0.73); 
    box-shadow: 0px 0px 30px 5px rgba(149,149,149,0.73);
}


@media only screen and (max-width: 768px) {
    .jumbotron-2 img {
      width: 15vh;
    }
  }


.jumbotron-3{
    padding: 3rem 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: var(--laranja);
    border-radius: .1rem;
}

.card-body a{
    background-color: var(--roxo);
    color: white;
}

.form-group{
    margin: 2rem;
}

#info-cards{
    background-color: #E5E5E5;
    margin-bottom: -3rem;
}

.btn{
    background-color: var(--roxo);
    color: white;
}

.btn:hover{
    background-color: #E5E5E5;
}


/*Zoom in cards*/

.zoom{
    transition: transform .3s;
}

.zoom:hover{
    transform: scale(1.1);
    -webkit-box-shadow: 0px 11px 22px 2px var(--roxo); 
    box-shadow: 0px 11px 22px 2px var(--roxo);
}


/* Font style */
.font-white{
    color: white;
}
.font-orange{
    color: var(--laranja-logo);
}
.font-grey{
    color: var(--cinza-escuro)
}
.font-purple{
    color: var(--roxo);
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-24{
    font-size: 24px;
}
.font-36{
    font-size: 36px;
}
.font-40{
    font-size: 40px;
}
.font-48{
    font-size: 48px;
}
